---
layout: cs373-page
permalink: /cs373/
---

<div class="posts">
  {% for post in site.posts %}
    <!-- <p>{{site.swe-name}}</p> -->
    {% if post.title contains "CS 373" %}
    <article class="post">
      <!-- {% if post.title contains "CS 373" %} -->
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endif %}
  {% endfor %}
</div>
